body {
  background: lightblue;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-ox-sizing: border-box;
}

.warp {
  width: 400px;
  margin: auto;
  height: auto;
  background: lightgray;
  padding: 15px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
  border-radius: 5px;
}

input[type="button"] {
  width: 89px;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
}

/* Modified styles for the M-, %, ., +, -, * buttons */
input[value="M-"],
input[value="%"],
input[value="."],
input[value="+"],
input[value="AC"] {
  background-color: orange;
  color: white;
}

input[value="-"],
input[value="x"] {
  background-color: orange;
  color: white;
}

/* Modified styles for the 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, /, and = buttons */
input[value="9"],
input[value="8"],
input[value="7"],
input[value="6"],
input[value="5"],
input[value="4"],
input[value="3"],
input[value="2"],
input[value="1"],
input[value="0"],
input[value="/"],
input[value="="] {
  background-color: gray;
  color: white;
}
.round-photo-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.round-photo {
  width: 100%;
  height: 100%;
}
.click-here-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.click-here-button:hover {
  background-color: #0056b3;
}
  /* Custom CSS to style the Facebook logo */
  .facebook-logo {
  width:21px; /* Adjust the width as needed */
  height:auto;
  vertical-align:-3px;
}
/* Custom CSS to style the Instagram logo */
  .instagram-logo {
  width: 40px; /* Adjust the width as needed */
  height: auto;
  vertical-align: middle;
}